/* WikiSpace Custom Styles */
@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");

* {
  color: #e1e1e1 !important;
  font-family: Quantico, Arial;
}
div#bodyContent {
  max-width: 1400px !important;
}

body {
  display: flex !important;
  justify-content: center !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 45px;
  background: #121212 !important;
}

/* Source Footer */
#source-footer {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  align-items: center;
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 99999 !important;
  background-color: rgb(30, 30, 30) !important;
  width: 100vw;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  border-top: 1px solid #aaaaaa37 !important;
  box-shadow:
    0 -2px 5px rgba(0, 0, 0, 0.5),
    inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

/* Search Bar Header */
div.vector-header-container {
  position: fixed;
  top: 0 !important;
  width: 100%;
  background-color: rgb(30, 30, 30) !important;
  z-index: 9999;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  backdrop-filter: blur(20px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #aaaaaa37 !important;
}
/* Link Styles */
a {
  color: #0083fd !important;
}

a:hover {
  color: #00e5ff !important;
}

/* Search Input Styles */
div#search-input {
  margin-right: 10px;
}
/* Input Background Edges */
div#simpleSearch {
  background-color: rgb(30, 30, 30) !important;
}

div.cdx-text-input > input.cdx-text-input__input {
  outline: none !important;
  width: 400px !important;
  box-shadow: none !important;
  font-size: 20px !important;
  background-color: rgb(16, 20, 24) !important;
  border: #333333 solid 2px !important;
  padding: 15px !important;
  border-bottom-left-radius: 10px !important;
  border-top-left-radius: 10px !important;
}

/* Main Homepage Input */
label.screen-reader-text + input#searchInput {
  border-right: none !important;
  color: black !important;
  font-size: 20px !important;
  background-color: rgb(255, 255, 255) !important;
  padding: 15px !important;
  border-radius: 10px !important;
  outline: none !important;
  box-shadow: none !important;
  border: #6c6c6c solid 2px !important;
}
label.screen-reader-text + input#searchInput:focus {
  outline: none !important;
  box-shadow: none !important;
  border: #0083fd77 solid 2px !important;
}

span.cdx-text-input__icon {
  color: white !important;
}
div#simpleSearch > div.cdx-text-input {
  border-radius: 0 !important;
  border-right: none !important;
}
input#searchInput:focus {
  border: #3d3d3d solid 2px !important;
  outline: none !important;
  box-shadow: none !important;
}

div.search-container {
  margin: auto !important;
}
form#searchform {
  display: flex !important;
}

/* Button Styles */
button.pure-button {
  height: 4.4rem !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  color: #fff !important;
  background-color: #0083fdd3 !important;
  letter-spacing: 0.2px !important;
  border-radius: 10px !important;
  border: none !important;
}

button.pure-button:hover,
button.button-bug:hover {
  background: #0083fdb5 !important;
  cursor: pointer;
}

button.button-bug {
  background-color: #0083fdd3 !important;
  font-size: 18px !important;
  max-height: 34px !important;
  font-weight: bold !important;
  letter-spacing: 0.5px;
  color: #fff !important;
  border: #333333 solid 2px !important;
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  border-left: none !important;
  letter-spacing: 0.2px !important;
}

/* Page Title */
div#pageTitle {
  margin-top: 50%;
}

/* Page Container */
div.mw-page-container {
  padding: 0 !important;
  background-color: #121212 !important;
}

/* Figure Styles */
figure {
  border: groove rgba(255, 255, 255, 0.7) !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

figcaption {
  border: groove rgba(255, 255, 255, 0.7) !important;
  border-top: none !important;
  padding: 10px !important;
}

/* Table Styles */
table {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border-collapse: collapse;
}

th,
td {
  border: inset rgba(255, 255, 255, 0.7) !important;
  padding: 10px !important;
}

th {
  background-color: #363636 !important;
}

td {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

div#mw-search-top-table {
  display: none !important;
}

/* Content Container */
div.mw-content-container {
  padding-left: 0;
  padding-right: 0;
}

main#content {
  grid-template-columns: 1fr;
}

div.mw-page-container-inner {
  grid-template-columns: 1fr;
}

/* Sidebar */
div.sidebar-list-title {
  border-top: none !important;
  border-bottom: 1px solid #aaa !important;
  padding: 5px !important;
  margin-bottom: 10px !important;
}

div.hatnote {
  display: initial !important;
}

div.thumbinner,
div.multiimageinner,
div.portal-bar {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border: inset rgba(255, 255, 255, 0.7) !important;
}

/* Notice to anyone opening on mobile using an overlay modal */

#mobile-warning-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 999999;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
  box-sizing: border-box;
  flex-direction: column;
}

#mobile-warning-overlay .overlay-content {
  max-width: 400px;
}

#mobile-warning-overlay h2 {
  font-size: 32px !important;
  font-weight: bold !important;
  margin-bottom: 25px;
  color: #fff !important;
  letter-spacing: 1px;
}

#mobile-warning-overlay p {
  font-size: 26px !important;
  line-height: 1.7;
  color: #e0e1e5 !important;
  margin-bottom: 35px;
}

/* Show overlay only on mobile */
@media screen and (max-width: 576px) {
  #mobile-warning-overlay {
    display: flex;
  }

  /* Hide and disable content behind overlay */
  #mobile-warning-overlay ~ * {
    visibility: hidden;
    pointer-events: none;
  }
}
