/* WikiSpace Custom Styles */
@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");

* {
  color: white !important;
  font-family: Quantico, Arial;
}
div#bodyContent {
  max-width: 1400px !important;
}

body {
  display: flex !important;
  justify-content: center !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 50px;
  background: #000000 url("/asfalt-light.png") !important;
}

a {
  color: #0083fd !important;
}

a:hover {
  color: #00e5ff !important;
}

/* Search Input Styles */
div#search-input {
  margin-right: 10px;
}

input#searchInput {
  font-size: 20px !important;
  border: #d3d3d3 groove 3px;
  border-radius: 2rem;
  background-color: rgb(16, 20, 24) !important;
  padding: 15px !important;
}

span.cdx-text-input__icon {
  color: white !important;
}

input#searchInput:focus {
  border: #d3d3d3 groove 3px;
}

div.search-container {
  margin: auto !important;
}

form#search-form {
  border-radius: 2rem !important;
}

/* Button Styles */
button.pure-button {
  display: block !important;
  margin: auto !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  margin-top: 20px !important;
  color: #000 !important;
  background: #fff !important;
  border: none !important;
  border-radius: 2rem !important;
}

button.pure-button:hover {
  background: #1c1c1c !important;
  border: inset #fff 3px !important;
  color: #fff !important;
}

button.cdx-button {
  color: #000 !important;
  font-weight: bold !important;
  border: none !important;
  border-radius: 2rem !important;
}

button.cdx-button:hover {
  background: #d4d4d4 !important;
}

/* Page Title */
div#pageTitle {
  margin-top: 50%;
}

/* Custom Header */
#proxifiti-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1px;
  align-items: center;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 99999 !important;
  background: url("asfalt-light.png");
  background-color: rgb(0, 0, 0) !important;
  width: 100vw;
  padding: 10px;
  padding-bottom: 20px;
  font-size: 20px;
}

/* Page Container */
div.mw-page-container {
  padding: 0 !important;
  background-color: rgba(0, 0, 0, 0.1);
}

div.vector-header-container {
  position: fixed;
  width: 100%;
  background-color: rgb(0, 0, 0) !important;
  z-index: 9999;
  background: url("./asfalt-light.png");
  left: 50 !important;
}

div#simpleSearch {
  background-color: rgb(16, 20, 24) !important;
}

/* Figure Styles */
figure {
  border: groove rgba(255, 255, 255, 0.7) !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

figcaption {
  border: groove rgba(255, 255, 255, 0.7) !important;
  border-top: none !important;
  padding: 10px !important;
}

/* Table Styles */
table {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border-collapse: collapse;
}

th,
td {
  border: inset rgba(255, 255, 255, 0.7) !important;
  padding: 10px !important;
}

th {
  background-color: #363636 !important;
}

td {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

/* Form Styles */
form#searchform {
  display: flex;
  gap: 15px;
  margin-bottom: 15px !important;
}

div.oo-ui-fieldLayout-field {
  display: flex !important;
  gap: 10px !important;
}

input#ooui-php-1 {
  min-width: 300px;
  border-radius: 2rem;
  border: none !important;
  color: black !important;
}

input#ooui-php-1:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #72777d !important;
}

button.oo-ui-inputWidget-input {
  background-color: #fff !important;
  border-radius: 2rem !important;
  border: none !important;
}

button.oo-ui-inputWidget-input:hover {
  background-color: #d4d4d4 !important;
}

span.oo-ui-labelElement-label {
  color: #000 !important;
  font-weight: bold !important;
}

/* Content Container */
div.mw-content-container {
  padding-left: 0;
  padding-right: 0;
  padding-top: 40px !important;
}

main#content {
  grid-template-columns: 1fr;
}

div.mw-page-container-inner {
  grid-template-columns: 1fr;
}

/* Sidebar */
div.sidebar-list-title {
  border-top: none !important;
  border-bottom: 1px solid #aaa !important;
  padding: 5px !important;
  margin-bottom: 10px !important;
}

div.hatnote {
  display: initial !important;
}

div.thumbinner,
div.multiimageinner,
div.portal-bar {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border: inset rgba(255, 255, 255, 0.7) !important;
}

/* Notice to anyone opening on mobile using an overlay modal */

#mobile-overlay-dismiss {
  display: none;
}

#mobile-warning-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 999999;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  flex-direction: column;
}

#mobile-warning-overlay .overlay-content {
  max-width: 400px;
}

#mobile-warning-overlay h2 {
  font-size: 32px !important;
  margin-bottom: 25px;
  color: #fff !important;
  letter-spacing: 1px;
}

#mobile-warning-overlay p {
  font-size: 22px;
  line-height: 1.7;
  color: #fff !important;
  margin-bottom: 35px;
}

#mobile-warning-overlay .proceed-btn {
  display: inline-block;
  background: #fff !important;
  color: #000 !important;
  border: 2px solid #d6d6d6;
  padding: 14px 25px;
  font-size: 25px;
  border-radius: 1rem !important;
  font-weight: bold !important;
  font-family: Quantico, Arial;
  letter-spacing: 1px;
}

/* Show overlay only on mobile */
@media screen and (max-width: 576px) {
  #mobile-warning-overlay {
    display: flex;
  }

  #mobile-overlay-dismiss:checked + #mobile-warning-overlay {
    display: none !important;
  }
}
