/* WikiSpace Custom Styles */
@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");

* {
  color: white !important;
  font-family: Quantico, Arial;
}
div#bodyContent {
  max-width: 1400px !important;
}

body {
  display: flex !important;
  justify-content: center !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 50px;
  background: #000000 url("/asfalt-light.png") !important;
}

a {
  color: #0083fd !important;
}

a:hover {
  color: #00e5ff !important;
}

/* Search Input Styles */
div#search-input {
  margin-right: 10px;
}

label.screen-reader-text + input#searchInput {
  font-size: 20px !important;
  background-color: rgb(16, 20, 24) !important;
  border: #dfdfdf solid 2px !important;
  padding: 15px !important;
  width: 100% !important;
  margin-left: 20px !important;
  border-bottom-left-radius: 15px !important;
  border-top-left-radius: 15px !important;
}

span.cdx-text-input__icon {
  color: white !important;
}
div#simpleSearch > div.cdx-text-input {
  border-radius: 0 !important;
  border-right: none !important;
}
input#searchInput:focus {
  border: #dfdfdf solid 2px !important;
  outline: none !important;
  box-shadow: none !important;
}

div.search-container {
  margin: auto !important;
}

/* Button Styles */
button.pure-button {
  margin: auto !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  color: #000 !important;
  background: #fff !important;
  border: #dfdfdf solid 2px !important;
  letter-spacing: 1px !important;
  border-bottom-right-radius: 15px !important;
  border-top-right-radius: 15px !important;
  border-left: none !important;
}

button.pure-button:hover {
  background: rgb(226, 226, 226) !important;
  border: rgb(226, 226, 226) solid 2px !important;
  border-left: none !important;
}

button.button-bug {
  font-weight: bold !important;
  color: #000 !important;
  border: #dfdfdf solid 2px !important;
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  letter-spacing: 1px !important;
  border-left: none !important;
}
button.button-bug:hover {
  background: rgb(226, 226, 226) !important;
  border: rgb(226, 226, 226) solid 2px !important;
  border-left: none !important;
  cursor: pointer !important;
}

/* Page Title */
div#pageTitle {
  margin-top: 50%;
}

/* Custom Header */
#proxifiti-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1px;
  align-items: center;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 99999 !important;
  background: url("asfalt-light.png");
  background-color: rgb(0, 0, 0) !important;
  width: 100vw;
  padding: 10px;
  padding-bottom: 20px;
  font-size: 20px;
}

/* Page Container */
div.mw-page-container {
  padding: 0 !important;
  background-color: rgba(0, 0, 0, 0.1);
}

div.vector-header-container {
  position: fixed;
  width: 100%;
  background-color: rgb(0, 0, 0) !important;
  z-index: 9999;
  background: url("./asfalt-light.png");
  left: 50 !important;
}

div#simpleSearch {
  background-color: rgb(16, 20, 24) !important;
}
div.cdx-text-input > input.cdx-text-input__input {
  outline: none !important;
  box-shadow: none !important;
  font-size: 20px !important;
  background-color: rgb(16, 20, 24) !important;
  border: #dfdfdf solid 2px !important;
  padding: 15px !important;
  border-bottom-left-radius: 10px !important;
  border-top-left-radius: 10px !important;
  width: 400px !important;
  border-right: none !important;
}
/* Figure Styles */
figure {
  border: groove rgba(255, 255, 255, 0.7) !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

figcaption {
  border: groove rgba(255, 255, 255, 0.7) !important;
  border-top: none !important;
  padding: 10px !important;
}

/* Table Styles */
table {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border-collapse: collapse;
}

th,
td {
  border: inset rgba(255, 255, 255, 0.7) !important;
  padding: 10px !important;
}

th {
  background-color: #363636 !important;
}

td {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

/* Form Styles */
form#searchform {
  display: flex;
  margin-bottom: 15px !important;
}

div#mw-search-top-table {
  display: none !important;
}

/* Content Container */
div.mw-content-container {
  padding-left: 0;
  padding-right: 0;
  padding-top: 40px !important;
}

main#content {
  grid-template-columns: 1fr;
}

div.mw-page-container-inner {
  grid-template-columns: 1fr;
}

/* Sidebar */
div.sidebar-list-title {
  border-top: none !important;
  border-bottom: 1px solid #aaa !important;
  padding: 5px !important;
  margin-bottom: 10px !important;
}

div.hatnote {
  display: initial !important;
}

div.thumbinner,
div.multiimageinner,
div.portal-bar {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border: inset rgba(255, 255, 255, 0.7) !important;
}

/* Notice to anyone opening on mobile using an overlay modal */

#mobile-warning-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 999999;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
  box-sizing: border-box;
  flex-direction: column;
}

#mobile-warning-overlay .overlay-content {
  max-width: 400px;
}

#mobile-warning-overlay h2 {
  font-size: 32px !important;
  font-weight: bold !important;
  margin-bottom: 25px;
  color: #fff !important;
  letter-spacing: 1px;
}

#mobile-warning-overlay p {
  font-size: 26px !important;
  line-height: 1.7;
  color: #e0e1e5 !important;
  margin-bottom: 35px;
}

/* Show overlay only on mobile */
@media screen and (max-width: 576px) {
  #mobile-warning-overlay {
    display: flex;
  }

  /* Hide and disable content behind overlay */
  #mobile-warning-overlay ~ * {
    visibility: hidden;
    pointer-events: none;
  }
}
